<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="co.harrishill.userdataservice" />
        <package android:name="co.harrishill.systemoverlayservice" />
    </queries>

    <application
        android:label="Trafalgar — Age of Sail"
        android:theme="@style/Theme.TrafalgarWeb">

        <activity
            android:name=".BoardWebViewActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
